body {
  margin: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.jumbotron {
  padding-top: 6rem;
  background-color: #e2edff;
}
.justify {
  text-align: justify;
}
#project {
  background-color: #e2edff;
}
footer {
  background-color: #0d6efd;
}
section {
  padding-top: 5rem;
}

.navbar-nav .nav-link.active,
.navbar-nav .show > .nav-link {
  color: var(--bs-navbar-active-color);
}
